<div class="slider">
    <swiper [config]="config" [(index)]="index">
        <div class="slider-content">
            <img src="assets/images/slide-1.png" alt="Image">
            <div class="slider-text">
                <p>
                    <span class="fade-in-0">We help both <strong>industrial</strong></span>
                    <span class="fade-in-1">and <strong>digital</strong> engineers</span>
                    <span class="fade-in-2"><strong>Increase</strong> revenu</span>
                </p>
                <div class="buttons">
                    <button class="slider-button-prev"><img src="assets/images/arrow-prev.svg"></button>
                    <button class="slider-button-next"><img src="assets/images/arrow-next.svg"></button>
                </div>
            </div>
        </div>
        <div class="slider-content">
            <img src="assets/images/slide-2.png" alt="Image">
            <div class="slider-text">
                <p>
                    <span class="fade-in-0">We help both <strong>industrial</strong></span>
                    <span class="fade-in-1">and <strong>digital</strong> engineers</span>
                    <span class="fade-in-2"><strong>Increase</strong> revenu</span>
                </p>
                <div class="buttons">
                    <button class="slider-button-prev"><img src="assets/images/arrow-prev.svg"></button>
                    <button class="slider-button-next"><img src="assets/images/arrow-next.svg"></button>
                </div>
            </div>
        </div>
        <div class="slider-content">
            <img src="assets/images/slide-3.png" alt="Image">
            <div class="slider-text">
                <p>
                    <span class="fade-in-0">We help both <strong>industrial</strong></span>
                    <span class="fade-in-1">and <strong>digital</strong> engineers</span>
                    <span class="fade-in-2"><strong>Increase</strong> revenu</span>
                </p>
                <div class="buttons">
                    <button class="slider-button-prev"><img src="assets/images/arrow-prev.svg"></button>
                    <button class="slider-button-next"><img src="assets/images/arrow-next.svg"></button>
                </div>
            </div>
        </div>
    </swiper>
</div>